name: CI

on:
  pull_request:
    types:
      - opened
      - synchronize

env:
  FHIR_PATTERN: '*/*'
  GITHUB_WORKFLOWS_DIR: '.github'
  BALLERINA_VERSION: 2201.12.3

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      project-matrix: ${{ steps.unique-project-paths.outputs.BALLERINA_PROJECT_PATHS }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Extract Unique Ballerina Project Paths from Changed Files
        id: unique-project-paths
        run: |
          # Get changed files of PR from github API
          PR_DETAILS=$(curl -sSL \
            "https://api.github.com/repos/${{ github.repository }}/pulls/${{ github.event.pull_request.number }}/files")
          CHANGED_FILES=$(echo "$PR_DETAILS" | jq -r '.[].filename')
          echo "Changed Files: "
          echo "${CHANGED_FILES}"

          # Convert CHANGED_FILES to an array
          readarray -t CHANGED_FILES_ARRAY <<<"${CHANGED_FILES}"

          # Remove duplicates from the CHANGED_FILES_ARRAY
          declare -A UNIQUE_PATHS_MAP
          for file in "${CHANGED_FILES_ARRAY[@]}"; do
            # Skip .github workflow files
            if [[ $file == $GITHUB_WORKFLOWS_DIR/* ]]; then
              continue
            fi

            # Check if file has at least one directory level
            if [[ $file =~ ^[^/]+/.+ ]]; then
              # Check if it's a 2nd level project (e.g., emr/athena/Ballerina.toml)
              if [[ $file =~ ^[^/]+/[^/]+/.+ ]]; then
                EXTRACTED_PATH=$(echo "$file" | cut -d '/' -f 1-2)
              # Otherwise it's a 1st level project (e.g., fhir/Ballerina.toml)
              else
                EXTRACTED_PATH=$(echo "$file" | cut -d '/' -f 1)
              fi

              if [[ $EXTRACTED_PATH ]]; then
                UNIQUE_PATHS_MAP[$EXTRACTED_PATH]=1
              fi
            fi
          done
          
          # Print the unique ballerina project paths
          echo "Extracted Unique Ballerina Project Paths: "
          for EXTRACTED_PATH in "${!UNIQUE_PATHS_MAP[@]}"; do
            echo "$EXTRACTED_PATH"
          done

          # Create the JSON array with elements enclosed in double quotes
          UNIQUE_PATHS_JSON=$(for key in "${!UNIQUE_PATHS_MAP[@]}"; do echo "\"$key\""; done | jq -s -c .)
          echo "UNIQUE_PATHS_JSON: "
          echo "${UNIQUE_PATHS_JSON}"
          echo "BALLERINA_PROJECT_PATHS=${UNIQUE_PATHS_JSON}" >> $GITHUB_OUTPUT

  build:
    needs: [ setup ]
    runs-on: ubuntu-latest
    env:
      JAVA_OPTS: -Xmx4G
    if: ${{ needs.setup.outputs.project-matrix != '[]' }}
    strategy:
      matrix:
        path: ${{ fromJson(needs.setup.outputs.project-matrix) }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set Up Ballerina
        uses: ballerina-platform/setup-ballerina@v1.1.0
        with:
          version: $BALLERINA_VERSION

      - name: Ballerina Build
        run: |
          pushd "${{ matrix.path }}"
          bal pack
          popd 

  test:
    needs: [ setup ]
    runs-on: ubuntu-latest
    env:
      JAVA_OPTS: -Xmx4G
    if: ${{ needs.setup.outputs.project-matrix != '[]' }}
    strategy:
      matrix:
        path: ${{ fromJson(needs.setup.outputs.project-matrix) }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set Up Ballerina
        uses: ballerina-platform/setup-ballerina@v1.1.0
        with:
          version: $BALLERINA_VERSION

      - name: Ballerina Test
        run: |
          pushd "${{ matrix.path }}"
          bal test --code-coverage
          popd

      - name: Read Ballerina Test Results
        id: test_results
        run: |
          if [ -f "./${{ matrix.path }}/target/report/test_results.json" ]; then
            content=`cat ./${{ matrix.path }}/target/report/test_results.json`                
            content="${content//'%'/'%25'}"
            content="${content//$'\n'/'%0A'}"
            content="${content//$'\r'/'%0D'}"

            echo "Covered Code Lines : $(echo "$content" | jq -r '.coveredLines')"
            echo "Total Code Lines : $(echo "$content" | jq -r '.missedLines') + $(echo "$content" | jq -r '.coveredLines')"
            echo "Code Coverage Percentage : $(echo "$content" | jq -r '.coveragePercentage')"
          else
            # echo "TEST_RESULTS_JSON=" >> $GITHUB_OUTPUT
            echo "No test results file found."
          fi
